/*body {
  background-color: #d31a1a;
  color: white;
}*/

.App {
  text-align: center;
}

.App-header {
  background-color: black;
  background-image: url('./assets/header-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 210px;
  width: 100%;
}

.Header-border {
  height: 40px;
  background-image: linear-gradient(black, #303030);
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
}
